@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
